/* Home.css */
@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@100&display=swap');

:root {
  --primary-color: #3498db; /* Define the primary color (blue) */
}
#home {
  background-color: #000;
  color: #3498db;
  padding: 50px;
}

.home-container {
  display: flex;
  justify-content: center; /* Center the content horizontally */
  align-items: center; /* Center the content vertically */
}

.bio {
  flex: 1; /* Take up remaining space */
  padding: 10px;
  /* Add some space between bio and profile picture */
  background-color: #333333;
  margin: 2px;
  font-size: 18px;
}

.profile-picture {
  flex: 1; /* Take up remaining space */
  text-align: right; /* Align the profile picture to the right */
}

.profile-picture img {
  width: 500px;
  height: 290px;
  object-fit: cover/* Ensure the image fits within its container */
}

.home-title {
  text-align: center; /* Center the title */
  font-family: 'Roboto', sans-serif; /* Use Roboto Thin font */
  font-weight: 700; /* Use font weight 100 for Roboto Thin */
  font-size: 40px;
}
.home-subtitle {
  text-align: center; /* Center the title */
  background-color: #000000;
  color: #3498db;
  font-size: 24px;
  padding: 3px;
  font-family: 'Roboto', sans-serif; /* Use Roboto Thin font */
  font-weight: 700; /* Use font weight 100 for Roboto Thin */
}

/* Global styles for both desktop and mobile */

/* Styles specific to desktop */
.desktop-only {
  display: block;
}
.mobile-only {
  display: none;
}

/* Mobile-specific styles */
@media screen and (max-width: 768px) {
  /* Styles for screens up to 768px (typical tablet and mobile screens) */
  #home {
    padding: 20px;
  }

  .bio {
    font-size: 16px;
  }

  .profile-picture img {
    width: 100%;
    max-width: 100%;
    height: auto;
    object-fit: cover;
  }

  .home-title {
    font-size: 30px;
  }

  .home-subtitle {
    font-size: 20px;
  }

  /* Hide desktop-specific elements */
  .desktop-only {
    display: none;
  }
  /* Show mobile-specific elements */
  .mobile-only {
    display: block;
  }
}
