*, *::before, *::after { box-sizing: border-box; }

:root {
  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

html, body, #root {
  margin: 0;
  padding: 0;
  min-height: 100vh;
  background-color: #ffffff;
}

a { text-decoration: none; }

button {
  font-family: inherit;
  cursor: pointer;
}
